<footer class="footer-distributed">

  <div class="footer-right">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

      <p class="footer-links">
          <a class="link-1" href="/login">Login</a>

          <a href="/register">Register</a>

          <a href="/company">Company</a>

          <a href="/schemes">Scheme</a>

          <a href="/">Blogs</a>

      
      </p>

      <p>AGRI Tech &copy; 2019</p>
  </div>

</footer>
 <script>
    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script> 
</body>
</html>
