<!DOCTYPE html>
<html>
<head>
  <title>Scheme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
  <link rel="stylesheet" type="text/css" href="/css/scheme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


</head>
<body>  
  <div class="topnav" id="myTopnav">
    <h1>AGRI Tech</h1>
               
      <%  if(!currentUser){ %>         
         <a href="/login">LOGIN</a>
         <a href="/register">SIGN UP</a>
          <a href="/schemes" >SCHEMES</a>
          <a href="/company" >COMPANY</a>
          
          
        <a href="/">BLOGS</a>
      <% }else{ %> 
        <a href="#"> Signed in As <%= currentUser.username %></a>
        <a href="/logout">Logout</a>
        <a href="/schemes" >SCHEMES</a>
        <a href="/">BLOGS</a>
      <% } %>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  