<!DOCTYPE html>
<html>
<head>
  <title>Scheme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
  <link rel="stylesheet" type="text/css" href="/css/scheme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body>  
  <div class="topnav" id="myTopnav">
    <h1>AGRI Tech</h1>
               
      <%  if(!currentUser){ %>         
          <a href="/schemes" >SCHEMES</a>
          <a href="/company" >COMPANY</a>
          <div class="dropdown">
            <button class="dropbtn">SIGN UP
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/register">SignUp as farmer</a>
              <a href="/register">SignUp as company</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">LOGIN
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/login">Login as farmer</a>
              <a href="/login">Login as company</a>
            </div>
          </div>
          
        <a href="/">BLOGS</a>
      <% }else{ %> 
        <a href="#"> Signed in As <%= currentUser.username %></a>
        <a href="/logout">Logout</a>
        <a href="/schemes" >SCHEMES</a>
        <a href="/">BLOGS</a>
      <% } %>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  