<%- include('./partials/header') %>

<div class="log">
    <h2><strong>LOGIN</strong></h2>
    <form action="/login" method="post">
      <div class="input-cont">
        <input type="email" name="username" placeholder="Email" required>
        
        <div class="border1"></div>
      </div>
      <div class="input-cont">
        <input type="number" name="id" placeholder="Id" required>
        
        <div class="border2"></div>
      </div>
      <div class="input-cont">
        <input type="password" name="password" placeholder="Password" required>
        
        <div class="border2"></div>
      </div>
   
      <a href="/register" style="float: right; font-size: 18px;">SignUp</a>
      <div class="clear"></div>
      <input type="submit" value="SUBMIT">   
    </form>
</div>
   
<%- include('./partials/footer') %>